/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	/* padding:50px; */
}
.text{
	padding:20px;
	text-align:center;
}
.image{
	width:auto;
	height: auto;
	object-fit:cover;
}
#explore{
	background-color:red;
	padding:10px;
	color:white;
}